.*
~*
*tmp*
*.pdf
*.aux
*.aux
*.bbl
*.blg
*.idx
*.out
*.toc
*.gv
*.png
*.cmapx
knowledge-base.gng
revision.txt
fig.[0-9]*
fig.mpx
image-2D
image-cluster
unit-testing
example-gng
gng-to-dot_unit-testing
!.gitignore
!*.example
